@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,800;1,8..144,400;1,8..144,500;1,8..144,600&display=swap");

:root {
  /* bg colors */
  --background: #5249b4;
  --bg-text: #daf7a6;
  --Title: #131415;
  --prymary: #272d37;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "roboto", sans-serif;
  /* border: 1px solid red; */
}

body {
  --background: #900c3f;
  --Alternative: #564fb8;
  --primary: #e9e1be;
  --secondary: #e6af69;
  --btn-lg: #564fb8;

  /* Text Colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
  --text-brown: #472800;
  --text-wine: #900c3f;
}

/* ========== HEADER =============== */

/* Header */
header {
  /* background: var(--secondary); */
  background: linear-gradient(to bottom, #804000, #e8c39e);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 30px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  height: 80px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  gap: 4rem;
}

.navbar-list {
  gap: 2rem;
  font-size: 25px;
}

.navbar-list a {
  color: var(--text-wine);
}
/* ========== CARRITO =============== */
/* Ocultamos el input: checkbox */
#cart-toggle,
#menu-toggle,
.menu-label {
  display: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart-icon {
  height: 40px;
  cursor: pointer;
  font-weight: 800;
}

.cart {
  position: absolute;
  right: 0;
  top: 65px;
  background: linear-gradient(to top, #804000, #e8c39e);
  padding: 50px 30px;
  border-left: 1px solid var(--Title);
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  display: none;
}

.cart h2 {
  color: var(--text-wine);
  font-size: 20px;
  font-weight: 700;
}

.Resources {
  height: 40px;
  width: 50px;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--Alternative);
  background: #f17b058b;
  border-radius: 10px;
}

.item-title {
  color: var(--text-wine);
  font-size: 14px;
  font-weight: 800;
}

.item-bid {
  color: var(--prymary);
  font-size: 12px;
  font-size: 500;
}

.item-price {
  background: linear-gradient(to top, #564fb8, #900c3f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  color: var(--Alternative);
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid var(--text-white);
}

.down {
  background: var(--text-wine);
}

.item-quantity {
  color: var(--text-wine);
}
.divider {
  margin-top: 20px;
  border: 0.5px solid var(--Alternative);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  color: var(--text-white);
}
.cart-total p {
  font-weight: 500;
}

.cart-total span {
  font-size: 18px;
  font-weight: 700;
}

/* ========== HACIENDO FUNCIONAL EL CARRITO =============== */

#cart-toggle:checked + .cart {
  display: flex;
}

/* ========== HERO SECTION =============== */

main {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
}

#hero {
  max-width: 1200px;
  /* margin: 0 auto; */
  margin-top: 70px;
  padding: 75px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 60%;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  min-width: 500px;
  background: linear-gradient(to top, #564fb8, #900c3f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-brown);
}

.hero-info span {
  font-weight: 500;
  text-transform: uppercase;
}

.hero-info a {
  color: var(--text-white);
  background: var(--text-wine);
  padding: 5px 10px;
  border-radius: 6px;
}

.portrait {
  border-radius: 40px;
  box-shadow: #472800;
}

.hero-card {
  background-color: var(--secondary);
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.Tito {
  border-radius: 20px;
  box-shadow: #472800;
  width: 60px;
  height: 50px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-style: italic;
}

.hero-card-top h3 {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-top span {
  background: var(--Alternative);
  color: var(--text-white);
  border-radius: 10px;
  padding: 3px 15px;
  font-size: 16px;
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-creator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.creator-info span,
.hero-card-price p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-wine);
}

.creator-info p {
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}

.hero-card-price span {
  font-weight: 800;
  font-style: italic;
}
/* ==================== Info Section =============== */
#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

#info h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-wine);
}

h3 {
  color: var(--text-wine);
  font-style: italic;
}

.info-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.info-card {
  background: var(--secondary);
  width: 350px;
  height: 350px;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info-card img {
  width: 45px;
}

.info-card p {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

/* ==================== Sample Section =============== */

#samples {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.samples-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.samples-info h2 {
  font-size: 3rem;
  font-weight: 700;
  width: 50%;
  color: var(--text-wine);
}

.Parte,
.Radio,
.Couple {
  width: 250px;
  height: 250px;
  padding: 10px 5px;
  border-radius: 30px;
}

.samples-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  font-size: 20px;
}

.samples-text p {
  color: var(--text-brown);
}

.samples-text a {
  color: var(--text-wine);
  font: 500;
  text-decoration: underline;
}

.samples-cards {
  border-radius: 20px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  width: 1100px;
}

/* ==================== Finding Section =============== */
#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  max-width: 1200px;
  gap: 40px;
}

#products h2 {
  font-size: 2rem;
  font-weight: 40px;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.category {
  background: var(--btn-lg);
  border: none;
  padding: 10px 15px;
  color: var(--text-white);
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background-color: var(--secondary);
  border-radius: 2px solid black;
}

/* ==================== Products Section =============== */

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.products {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  margin-bottom: 20px;
}

.Piano {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.user {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.product-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.product-mid,
.product-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.product-mid b {
  font-size: 14px;
  font-size: 400;
  color: var(--btn-lg);
  font-style: italic;
}

.product-top h3 {
  font-size: 20px;
  font-size: 300;
}
.product-top b {
  font-size: 20px;
  font-size: 300;
}

.product-top p,
.product-user p {
  color: var(--Alternative);
  font-size: 20px;
  font-size: 800;
  font-style: italic;
  color: var(--Title);
}

.product-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-mid span {
  color: var(--Title);
  font-weight: 300;
  font-size: 14px;
}

.product-mid p {
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-wine);
  font-style: italic;
}

.btn-add {
  background-color: var(--primary);
  border: none;
  padding: 10px 35px;
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  font-weight: 700;
}

.btn-load {
  background: none;
  padding: 10px 35px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-white);
  background: var(--text-wine);
}

/* ==================== footer =============== */
footer {
  background: var(--text-wine);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 0;
}

footer a,
footer p {
  color: var(--secondary);
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 40px;
  font-style: italic;
}

footer span {
  font-weight: 700;
}
